/* UniFilter Demo Styles */

/* <html> font size is 62.5%, what is ~10px 
   so we use rem to get sizes related to base font size */


body {
	font: normal 15px/25px "Raleway", sans-serif;
}

/* header */

.header {
	height: 60px;
	line-height: 60px;
	background-color: #404040;
	color: #bbb;
	overflow: hidden;
}

.header strong {
	position: relative;
	color: #f1f1f1;
	font-size: 25px;
	margin: 0 5px 0 50px;
	letter-spacing: 1px;
	font-family: "Archivo Black", sans-serif;
}

.header strong span {
	color: #74c17c;
}

.header .purchase {
	float: right;
	border-radius: 20px;
	line-height: 20px;
	padding: 5px 25px;
	margin: 15px 30px 0 10px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #f1f1f1;
	background-color: #666;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.header .purchase:hover {
	background-color: #ee6c5e;
	color: #fff;
}

.header a, .header a:hover {
	text-decoration: none;
	outline: none;
}

.up {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	padding: 15px 10px;
	background: url(../images/up.png) no-repeat center center;
	background-color: rgba(255,255,255,0.5);
	width: 30px;
	height: 20px;
	border-radius: 5px;
	z-index: 100;
}

.copyright {
	font-size: 12px;
	color: #aaa;
	padding-bottom: 30px;
	text-align: center;
}

.copyright a, .copyright a:hover {
	text-decoration: underline;
	color: inherit;
}

/* shop */

.shop-wrap {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}

.shop, .shop li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.shop {	
	margin-bottom: 120px; 
}

.shop > li {
	float: left;
	position: relative;
	width: 32%;
	margin-bottom: 10px;
}

.shop .thumb {
	position: relative;
	background-color: #222;
}

.shop .thumb img {
	display: block;
	width: 100%;
	height: auto;
}

.shop .thumb:hover img {
	opacity: 0.8;
}

.shop .price {
	position: absolute;
	top: 10px; left: 10px;
	width: 50px;
	height: 50px;
	background-color: #ff7573;
	text-align: center;
	z-index: 10;
	line-height: 50px;
	border-radius: 25px;
}

.shop .price span {
	color: #fff;
	font-weight: bold;
}

.shop .badges {
	position: absolute;
	top: 10px; 
	right: 10px;
	z-index: 20;
}

.shop .badges span {
	display: block;
	width: 32px;
	height: 32px;
}

.shop .badges .badge-new { background: url('../images/badge.png') no-repeat 0 -64px; }
.shop .badges .badge-bestseller { background: url('../images/badge.png') no-repeat 0 -32px; }
.shop .badges .badge-polarized { background: url('../images/badge.png') no-repeat 0 0; }

.shop .buy { 
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 20;
 }

.shop .buynow {
	color: #fff;
	background: #444;
	padding: 5px 15px;
	line-height: 1;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;	
}

.shop .name {
	position: absolute;
	bottom: 2px; right: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	background-color: #fff;
}

@media only screen and  (max-width: 1024px) {
	.shop > li { width: 49%; }
}

@media only screen and  (max-width: 750px) {
	.shop > li { margin-right: 0!important; width: 100%; }
	.shop-wrap { width: 85%; }
}


/* UniFilter */

#filters {
	margin: 70px 0 30px;
}

#filters .uf-filter { 
	margin-top: 5px; 
}

#filters .uf-filter-wrap,
#filters .uf-search-wrap,
#filters .uf-sort-wrap {
	margin-bottom: 0;
}

#filters .uf-filter-wrap  { 
	float: right; 
	margin-right: 10px; 
}

#filters .uf-search-wrap,
#filters .uf-sort-wrap { 
	float: left; 
	margin-right: 10px; 
}

#filters .uf-tags a {
	border: 0;
}

#filters .uf-tags .uf-reset {
	margin-top: 5px;
}

#filters .uf-tags a:hover,
#filters .uf-tags .uf-selected a {
	color: #aaa;
	background: none;
}

#filters .uf-search-box { width: auto; }

@media only screen and  (max-width: 1024px) {
	#filters .uf-filter-wrap { float: none; }
}


/* Smaller than Desktop HD */
@media only screen and (max-width: 1200px) {}

/* Smaller than desktop */
@media only screen and  (max-width: 1000px) {}

/* Smaller than tablet */
@media only screen and  (max-width: 750px) {}

/* Smaller than phablet (also point when grid becomes active) */
@media only screen and  (max-width: 550px) {}

/* Smaller than mobile */
@media  only screen and (max-width: 400px) {}


