[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-storages = "*"
request = "*"
django-heroku = "*"
whitenoise = "*"
Pillow = "*"
certifi = "*"
dj-database-url = "*"
cloudinary = "*"

         

[dev-packages]

[requires]
python_version = "3.6"
