certifi==2018.8.24
chardet==3.0.4
cloudinary==1.12.0
dj-database-url==0.5.0
Django==2.1.1
django-braces==1.13.0
django-heroku==0.3.1
django-js-asset==1.1.0
django-mptt==0.9.1
django-storages==1.7.1
django-tinymce4-lite==1.7.0
django-widget-tweaks==1.4.1
djangoajax==3.0.3
docopt==0.4.0
get==1.0.3
gunicorn==19.9.0
idna==2.7
jsmin==2.2.2
mailchimp==2.0.9
mock==2.0.0
pbr==4.2.0
Pillow==5.2.0
pipenv==2018.7.1
post==1.0.2
psycopg2==2.7.5
psycopg2-binary==2.7.5
public==1.0.3
pytz==2017.3
query-string==1.0.2
request==1.0.2
requests==2.19.1
six==1.11.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==4.1
django-rosetta==0.9.0
django-parler==1.9.2
django-localflavor==2.1
django-filter==2.0.0 