{% extends 'base.html' %}
{% load staticfiles %} 
{% load humanize %}
{% block content %} 


<!--Light Slider -->
{% block script %}
<!--   <script type="text/javascript" src="{% static 'unifilter/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'unifilter/js/masonry.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'unifilter/js/imagesloaded.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'unifilter/js/jquery.unifilter.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'unifilter/js/scripts.js' %}"></script>
  <script type="text/javascript">
      $(document).ready(function(){
      
        // our online shop UL list
        var shop = $('#shop');
        
        // Masonry Options
      var masonry_options = {
          itemSelector: 'li:not(.uf-clone)',
          percentPosition: true,
          gutter: 10
        };
        
        // UniFilter Options
        var unifilter_options = {
          order: "filters, search, sort",
          animationType: 'translate',
          filters: {
            "style" : {
              tooltip: true,
              multiple: false
            }
          },
          search: {
            "search": {
              placeholder: 'Type name or color',
              getSearchData: function(){
                var name = $(this).find('.name')[0].firstChild.textContent;
                var color = $(this).data('search');
                return new String(color + ', ' + name).split(/\s*,\s*/);
              }
            }
          },
          sort: {
            options: {
              'price': {
                label: 'Price',
                getSortData: function(){
                  var price = $(this).find('.price > span').text().replace(/[^0-9\.]/g, '');
                return parseFloat(price);
                }
              },
              'polarized': {
                label: 'Polatized'
              },
              'new': {
                label: 'New Arrivals'
              },
              'bestseller': {
                label: 'Best Sellers'
              }
            }
          }
        };
        
        // init UniFilter plugin
        $('#filters').unifilter(shop, unifilter_options).on('onListUpdate', function(){
          shop.masonry('destroy').masonry(masonry_options);
        });
        
        // init masonry and hide all list items
        shop.masonry(masonry_options).children('.uf-item').css('opacity', 0);
      
      // show images as they keep loading
        shop.imagesLoaded().progress(function(instance, image){
          shop.masonry('layout');
          $(image.img).parents('.uf-item').css('opacity', '');
        });
            
      });
    
  </script> -->
<!-- Portfolio Filter Tabs  End -->

</div>



        <script type="text/javascript">
        $(document).ready(function(){
            $('#lightgallery').lightGallery();
        });
        </script>
        <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
        <script src="{% static 'js/lightgallery/lightgallery-all.min.js' %}"></script>
        <script src="{% static 'js/lightgallery/jquery.mousewheel.min.js' %}"></script>
<!-- Light Gallery End-->
{% endblock %}
<script type="text/javascript">
jssor_1_slider_init = function() {

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 3000;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        };
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        
        /*jssor slider bullet skin 032 css*/
        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}
        
        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
    </style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;visibility:hidden;margin-top: -27px;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgb(226, 106, 111);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../svg/loading/static-svg/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">
            <div>
                <img data-u="image" src="{% static 'images/slider3.jpg' %}" />
            </div>
            <div>
                <img data-u="image" src="{% static 'images/slider2.jpg' %}" />
            </div>
            <div>
                <img data-u="image" src="{% static 'images/slider1.jpg' %}" />
                <div style="position:absolute;top:30px;left:30px;width:480px;height:130px;z-index:0;background-color:#e89b8f;font-size:40px;font-weight:100;color:#000000;line-height:60px;padding:5px;box-sizing:border-box;">Share is Care <br>
                  Share you  Like with you Love
                </div>
               
            </div>
          
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb032" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
            <div data-u="prototype" class="i" style="width:16px;height:16px;">
                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                </svg>
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>
    <!-- #endregion Jssor Slider End -->














    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
 


    <div class="container">
      <div class="row">

<div id="categories">

    <h3>Categories</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'gallery:all' %}">All</a>
      </li>
      {% for gcategory in gcategories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ gcategory.get_absolute_url }}">{{ gcategory.name }}</a>
        </li>
     {% endfor %}
    </ul>
  </div>
  <div id="main" class="project-list">
    <h1>{% if gcategory %}{{ gcategory.name }}{% else %} {% endif %}</h1>
    
   {% if artwork %}

<div class="demo-gallery">
   
            <ul id="lightgallery" class="list-unstyled row">

                {% for artwork in artwork %}


                <li data-responsive="img/1-375.jpg 375, {{ artwork.art.url }} 480, data-src="{{ artwork.art.url }}" data-sub-html="<h2> {{ artwork.title }} </h2> <h2> <p>{{ artwork.description|truncatechars:250 }} <h4><a href='{% url "gallery:art" art_id=artwork.id %}' target='_blank'>Go Detail</a>  <span> Or <a href='{{ artwork.link }}'>Visit Website</a></span></h4></p>" data-src="{{ artwork.art.url }}" data-sub-html="<h2> {{ artwork.title }} </h2> <h2> <p>{{ artwork.description|truncatechars:250 }} <h4><a href='{% url "gallery:art" art_id=artwork.id %}' target='_blank'>Go Detail</a>  <span> Or <a href='{{ artwork.link }}'>Visit Website</a></span></h4></p>">
                      <div class="grid">
          <figure class="effect-jazz">

                        <img class="img-responsive" src="{{ artwork.art.url }}">
                        <figcaption>

              <p> {{ artwork.title }} </p>
              <p> <span> {{ artwork.gcategory }} </span> </p>

             
          </figcaption></figure>

                   
                </li>
                

       
                 {% endfor %}
        </div>
            </ul>
</div>
{% else %}  

            <div class="row">
                <div class="col-md-10">  
                    <h1>Oopsie!</h1>
                    <p>No galleries with that name found.</p>
                </div>
            </div>
            {% endif %}

{% if forloop.counter|divisibleby:2 and not forloop.last %}
        </div><br><div class="row">

      {% endif %}
    </div>

</div></div>
<ul class="pagination">
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>

    {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active">{{ i }} </li>
      {% else %}
        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
     
    {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
{% endif %}







</div>


{% endblock content %}