

body {
    font-family: "Open Sans",sans-serif !important;
    margin-top: 5px;
    padding-top: 60px; 
}
body.home p, h1, h2, h3, h4, h5, span {
    font-family: sans-serif;
}
p {
        font-size: 16px !important;
}
.demo-gallery > ul > li img {
    width: 480px;
}


div#main {
    width: 81%;
    margin: 0 auto;
}

div#categories ul li {
    display: inline-block;
    padding: 8px 16px 8px 16px;
}
div#categories {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 0px;
    padding: 0px;
}


button.btn.btn-success {
    width: 27%;
}
button#email_submit {
    width: 44%;
}
.image-box { 
    padding: 0px;
}

#art-images {
    padding: 10px;
}

.container {
    padding: 0px;
}

.navbar-brand {
    margin-left: 15px;
    margin-top: 5px;
}

.navbar-collapse{
    margin-top: 5px;
    margin-bottom: 5px;
}

.burger {
    margin-right: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdownmenu li {
    margin-left: 20px;
}

footer {
    margin: 50px 0;
    padding: 15px;
}

/* move pics in carousel to center */
.carousel-inner > .item > img {
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Neucha', cursive;
    margin-left: 15px;
}

.changeFont {
     font-family: 'Neucha', cursive;
     font-size: 25px
 }
 
p, div {
    font-family: 'Coming Soon', cursive;
}

p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.galleryOptions {
      text-align: center;
    }

.myface {
    margin-top: 40px;
    margin-bottom: 40px;
}

body { 
    background: url(/static/images/lightpaperfibers.png) repeat 0 0;
}

/* remove gradient background form carousel */
.carousel-control.right, .carousel-control.left {
  background-image:none;
}


/* custom button code */

.btn-custom {
  background-color: #3a0371;
  border-color: #3a0371;
  font-family: 'Neucha', cursive;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #2d0258;
  border-color: #21023f;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #3a0371;
  border-color: #3a0371;
}
img.profile {
    width: 344px;
    border-radius: 50%;
    margin-top: 8px;
}

.lg-sub-html {
    text-align: left;
}
.row.its.row {
    width: 1040px;
    margin: 0 auto;
}
.lg-sub-html p {
    font-size: 18px;
}

figure.effect-jazz img {
    width: 100%;
    height: 297px;
}
.avatar img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.fa-pencil-alt:before {
    content: "\f303";
    display: inline-block;
    margin: 0px 6px 0px 15px;
    font-size: 0.9em;
    color: #ccc;
}
.fa-clock:before {
    content: "\f017";
    display: inline-block;
    margin: 0px 0px 0px 11px;
    font-size: 0.9em;
    color: #ccc;
}
.post_image img {
    width: 40%;
    float: right;
    margin: .75em 0 .75em 2em;
}
h4.header {
    margin: 0px;
}


footer.post-footer.d-flex.align-items-center {
    margin: 6px 0;
    padding: 16px 0px 8px 0px;
}
.avatar {
    margin-top: -13px;
}

.post_col {
    margin-bottom: 51px;
}
  
.cover_img img {
    width: 100%;
    height: 315px;
}
img.picture {
    width: 256px;
    border-radius: 50%;
}

footer.post_header_profile ul li {
    display: inline-block;
    padding: 0px 0px 0px 15px;
}

footer.post_header_profile {
    float: right;
    position: relative;
    right: 47%;
    top: 134px;
    margin: 0;
    padding: 0;
    display: inline-block;
}




@media only screen and (max-width: 600px) { 

footer.post_header_profile {
float: none;
    position: static;

        margin: 0;
    padding: 0;
}
}