{% extends "gallery/base.html" %}
{% load humanize %}
{% block title %} {{ course.title }} {% endblock %}
{% block content %}

<div class="container">
 <div class="row">
 	<div class="col-sm-8 col-md-8">
 		 <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"> 
                        <a href="{% url 'posts:profile' post.user.username %}"> <img src="{{ post.user.profile.get_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ post.user.profile.get_screen_name }} 
                        </a></span>
                  </div></a>
                  <div class="date"> <i class="far fa-clock"> </i> <time> {{ post.date|naturaltime }}  </time> </div>
                  
                </footer>
    <div class="cover_img">
         <img src="{{ post.image.url }}"class="postcover">
    </div>
  <div class="col s12 col m12"> 

        <h4> {{ post.title }} </h4>
            <p> {{ post.description| safe}} </p>

 </div>
             </div>        
</div>
</div>

{% endblock %}