{% extends 'base.html' %}
{% load humanize %}
{% load namify %}
{% load urlify %}
{% load categories %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<div class="container">
 <div class="row">
 	<div class="col-sm-10 col-md-10 customclass">
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="{% url 'posts:all' %}">Blog</a>
  <a class="breadcrumb-item" href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
  <span class="breadcrumb-item active">{{ post.title | safe |slice:"70" }}</span>
</nav>
    
  
 		 <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"> 
                        <a href="{% url 'posts:profile' post.user.username %}"> <img src="{{ post.user.profile.get_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ post.user.profile.get_screen_name }} 
                        </a></span>
                  </div></a>
                  <div class="date"> <i class="far fa-clock"> </i> <time> {{ post.date|naturaltime }}  </time> </div>
                  
                </footer>
    <div class="cover_img">
         <img src="{{ post.image.url }}"class="postcover">
    </div>


        <h4> {{ post.title }} </h4>
            <p> {{ post.description| safe}} </p>

             </div>   
             <div class="col-sm-2 col-md-2 post_col">
    <div id="sidebar">
    <h3>Categories</h3>
    {% show_categories categories %} 
    <ul>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
               </div>  


<div class="row related-posts">
  <div class="col-sm-10 col-md-10"> 
  <h1> Related Posts </h1>
{% for r_post in related %}
<div class="col-sm-4 col-md-4"> 
 <div class="grid">
          <figure class="effect-jazz">

                        <img class="img-responsive" src="{{ r_post.image.url }}">
                        <figcaption>
<a href="{{ r_post.get_absolute_url  }}">  <h3>{{ r_post.title|slice:"70" }} </h3> </a>
               <p> {{ r_post.title }} </p>
              <p> <span> {{ r_post.category }} </span> </p>

             
          </figcaption></figure>



                </div>
               
                   
          
 {% if forloop.counter|divisibleby:"2" or forloop.last %}
        </div> <!--end row-->
    {% endif %}
      </div>
{% endfor %}
       
       </div></div>
       </div>          
       
          
    

{% endblock %}