{% extends 'base.html' %} 
{% block title %} About Tanveer Ahmed {% endblock %}
{% load staticfiles %}
{% block content %} 

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="profile" src="{% static 'images/tanveer.jpg' %}" alt="Tanveer" class="img-circle myface">
                <div class="followme">
                <a href="https://twitter.com/tanveerobjects"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/tanveerahmadst"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.linkedin.com/in/tanveer-ahmed-07515b137/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/tanveerahmad1517"><i class="fab fa-github-square"></i></a>
                    <a href="https://www.instagram.com/tanveer.shareiscare/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-8">
                <h2>About Me</h2>
                <p>I am Web Developer I Code for Creating Something Productive that Solving Problems, Doing Complex into Simplify understandable for Both Users and Developers for changeable and reusable Apps. I care my Time and Client's Time I meet My Timeline, I Prefer to Discus before Starting Project for Satisficing Job to be Done. 
Happy to Work with Team and Responsible for my Individual Task and everything that is for me.
                 <a href=https://github.com/tanveerahmad1517 >Github.</a></p>
                <h2>Contact me</h2>
                <p>You can contact me by <a href="mailto:tanveerobjects@gmail.com">email</a> or find me on twitter as
                <a href="https://twitter.com/tanveerobjects">@tanveerobjects</a>. </p></div>
                 
                    
      
            </div>

        </div> <!-- row -->
    </div> <!-- container -->
        

{% endblock content %}
