{% extends 'base.html' %} 
{% load staticfiles %}
{% block content %} 

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="profile" src="{% static 'images/tanveer.jpg' %}" alt="Paivi" class="img-circle myface">
            </div>
            <div class="col-md-8">
                <h2>About Me</h2>
                <p>I am Web Developer I Code for Creating Something Productive that Solving Problems, Doing Complex into Simplify understandable for Both Users and Developers for changeable and reusable Apps. I care my Time and Client's Time I meet My Timeline, I Prefer to Discus before Starting Project for Satisficing Job to be Done. 
Happy to Work with Team and Responsible for my Individual Task and everything that is for me.
                The source code is available on <a href=https://github.com/tanveerahmad1517 >Github.</a></p>
                <h2>Contact me</h2>
                <p>You can contact me by <a href="mailto:tanveerobjects@gmail.com">email</a> or find me on twitter as
                <a href="https://twitter.com/tanveerobjects">@tanveerobjects</a>. </p>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
        

{% endblock content %}
